body {
	margin: 0;
}
#wrapper {
	padding: 0px;
	font-size: 25px;
	border: 20px solid rgba(0, 0, 0, 0.3);
}
#startButton5 {
	background-color: skyblue;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#startButton10 {
	background-color: navy;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#startButton15 {
	background-color: orangered;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#pauseButton {
	background-color: palegoldenrod;
	border: none;
	color: white;
	padding: 10px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}
#header {
	background-color: antiquewhite;
	color: darkblue;
	padding: 2%;
	width: 96%;
	text-align: center;
	font-family: Andale Mono;
}
#main {
	background-color: greenyellow;
	margin: 0%;
	padding: 2%;
	width: 50%;
}
#time {
	width: 60px;
	height: 40px;
	position: absolute;
	background: #FFDAB9	;
	top: 240px;
	left: 150px;
	text-align: center;
	font-size: 25px;
}
#description{
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: Andale Mono;
}
